<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - Sistema Carros</title>
    <link rel="icon" href="https://static.vecteezy.com/ti/vetor-gratis/p1/18966310-modelo-de-logotipo-de-letra-h-de-luxo-na-cor-dourada-design-de-logotipo-de-letra-h-inicial-de-luxo-moderno-e-moderno-modelo-de-de-design-de-logotipo-de-letra-h-premium-real-vetor.jpg" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <h1 class="logo">Horácio Automóveis</h1>
                <ul class="nav-links">
                    <li><a href="{{ url_for('home') }}">Página inicial</a></li>
                    <li><a href="{{ url_for('about') }}">Sobre o sistema</a></li>
                    <li><a href="{{ url_for('listar_carros') }}">Listagem</a></li>
                    <li><a href="{{ url_for('form_adicionar_carro') }}" class="btn-primary">Cadastrar</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>

            <article>
                {% block content %}{% endblock %}
            </article>
        </section>

        <section class="background-changer">
            <h2>Personalize o fundo da página</h2>
            <form id="bgForm" class="bg-form">
                <label for="uploadImg">Escolha uma imagem pelo upload:</label>
                <input type="file" id="uploadImg" accept="image/*">

                <label for="imgLink">Ou insira o link da imagem:</label>
                <input type="text" id="imgLink" placeholder="https://exemplo.com/imagem.jpg">

                <button type="button" onclick="changeBackground()" class="btn-primary">Alterar background</button>
            </form>
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
